<h1 style="margin-top: 60px;"><h1>

<% if customer_signed_in? %>
	<% if current_customer == @customer || current_customer.admin? %>
	<%= link_to "管理画面", admin_admins_top_path(@customer.id) %>
	<% end %>
<% end %>

	<img src="/assets/no_image.png" alt="">
	 	<div class="container">
			<div class="row">
		 		<div class="col-xs-2">

					<h2>商品検索</h2>



						<div class="item-search">
	  						<%= form_with(scope: :search, url: items_path, method: :get, local: true) do |f| %>
	    						<div class="field">
	      							<%= f.label :ジャンル %>
	      							<%= f.text_field :item, value: @search_params %>
								</div>
							<% end %>
	  					</div>


	          	</div>
	        </div>
		</div>

	<h2>おすすめ商品</h2>
	<thead>
	</thead>
	<tr>
		<td>
		</td>
	</tr>
	</body>