<img src="/assets/no_image.png" alt="">
  <div class="container">
  	<div class="row">
  		<div class="col-xs-2">
          <h2>商品検索</h2>



      <div class="item-search">
        <%= form_with(scope: :search, url: items_path, method: :get, local: true) do |f| %>
          <%= f.label :ジャンル %>
          <%= f.text_field :item, value: @search_params %>
        <% end %>
      </div>

