<div class="complete_background">
	<div class="container" style="margin-top: 150px; text-align: center;">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<h1>ご注文承りました。<br>
					ご購入ありがとうございました。</h1>
				</div>
			</div>
		</div>
	</div>
</div>
