<dic class="container">
	<table class="table table-striped">
		<h1>注文履歴一覧</h1>
		<body>
			<% @orders.each do |order| %>
				<tr>
					<td><%= order.name %></td>
					<td><%= order.
					<td><%= link_to '詳細画面', orders_show_path(order.id) %></td>
				</tr>
			<% end %>
		</body>
	</table>
	<%= link_to 'マイページへ', customers_path %>
</dic>