<div class="container">
<h1 style="margin-top: 120px;">注文履歴一覧</h1>
<table style="border:none" class="b">
	<thead>
		<tr>
			<th style="color: #000;">購入日時</th>
			<th style="color: #000;">購入者</th>
			<th style="color: #000;">注文個数</th>
			<th style="color: #000;">注文ステータス</th>
		</tr>
	</thead>
	<tbody style="color: #000;">
		<% @orders.each do |order| %>
			<tr>
				<td><%= l order.created_at %></td>
				<%#= link_to admin_order_path(order) %></td>
				<%# @customer = %>
				<td><%= order.name %></td>
				<td><%= order.quantity %></td>
				<td><%= order.order_status %></td>
			</tr>
		<% end %>
	</tbody>
</table>
</div>