<div class="jumbotron jumbotron-fluid">
	<div class="container">
		<div class="row center-block message">
			<div class="text-center">
				<h3 style="margin-top: 120px;"><strong>本当に退会しますか？</strong></h3>
				<p>退会すると会員登録情報や<br>
					これまでの購入履歴が閲覧できなくなります。<br>
				退会する場合は退会するをクリックしてください。</p>


					<!--退会しないボタン-->
				<%= link_to '退会しない',customers_path , method: :get,class: 'btn btn-default btn-md',:style=>"background-color:#000055; color:#fff;" %>
					<!--退会するボタン-->
				<%= link_to "退会する", customers_complete_path, method: :patch, "data-confirm" => "本当に退会しますか？", class: 'btn btn-default btn-md',:style=>"background-color:#800000; color:#fff;" %>
			</div>
		</div>
	</div>
</div>
