// Place all the styles related to the customers::addresses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.a th{
	padding: 5px 5px
}

.a td{
	padding: 5px 5px
}

.b th{
	padding: 10px 5px;
	width: auto;
}

.b td{
	padding:10px 0;
	width: auto;
	empty-cells: show;
}