// Place all the styles related to the customers::addresses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.a th{
	padding: 5px 5px
}

.a td{
	padding: 5px 5px
}

table.b{
	width: 100%
}

.b th{
	padding: 10px 5px;
	width: auto;
	background-color: rgba(255,255,255,0.3);
}

.b td{
	padding:10px 5px;
	width: auto;
}

.pagination>.active>a {
  background: #93c9ff;
  border-radius: 15px;
}

.pagination>li>a {
  border: none;
  color: #696969;
}


.pagination>li>a:hover {
  border-radius: 15px;
}

.main-container {
background-image: url("../address_background.jpg");
background-size:cover;
height: 1200px;
}

th{
	color: #fff;
}

.mytable {
	height:300px;
	color: #fff;
	background-color: rgba(0,0,0,0.5);
	text-align:center;
}

.addinfo{
	color: #fff;
	background-color: rgba(0,0,0,0.5);
}