// Place all the styles related to the customers::orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.z th{
	padding: 10px 5px;
	background-color: #DDDDDD;
}

.z td{
	padding: 10px 5px;
}

.y th{
	padding: 10px 5px;
	background-color: #DDDDDD;
}

.y td{
	padding: 10px 5px;
}

.orders_background_image {
	background-image: url("../address_background.jpg");
	background-size:cover;
	height: 1200px;
}

.new_background_image{
	background-image: url("../cartitems_background.jpeg");
	background-size:auto;
	background-position:bottom;
	height: 1200px;
}