// Place all the styles related to the customers::orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.z th{
	padding: 10px 5px;
}

.z td{
	padding: 10px 5px;
}

.y td{
	padding: 10px 5px;
}