// Place all the styles related to the customers::top controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.jumbotron {
  background-image: url("../background_image.jpg");
  height: 1200px;
  background-size: cover;
}