/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
.pagination>li>a {
  border: none;
  color: #696969;
}

/* 表示しているページ番号のデザイン */
.pagination>.active>a {
  background: #93c9ff;
  border-radius: 15px;
}

/*ホバー時のデザイン*/
.pagination>li>a:hover {
  border-radius: 15px;
}

a:hover{
　text-decoration: none;
}

.navbar-inverse {
	background-color: #000;
}
/*ブランドロゴのデザイン*/
.navbar-brand {
font-family: 'Sacramento', cursive;
font-size: 250%;
padding-top: 30px;
padding-right: 200px;
font-weight: nomal;
}

.navbar-list-item {
	possition: top;
	font-color: #fff;
	padding: auto;
}

.no-underline {
	text-decoration:none !important;
	}

html {
 position: relative;
 min-height: 120%;
}
body{
/* footerの高さの最大値 */
 padding-bottom: 0;
}

.nav-list-item {
	font-weight: 600;
}

footer{
 min-height: 80px;
/* footerの最小値 */
 width:100%;
 position: absolute;
 bottom: 0;
 margin-bottom: 0;
 background-color: #000;
}